<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/open-iconic/font/css/open-iconic-bootstrap.css">
    <link rel="stylesheet" href="/css/glyphicon.css">
    <link rel="shortcut icon" type="image/png" href="/images/icons/favicon.ico" />
    <title>PRISM - Home</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="/js/input.js"></script>
    <style>
        .card-img {
            width: 300px;
            height: 300px;
        }
        .card-img img{
            width: 100%;
            height: 100%;
        }
        input[type=file]{
            display: none;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand h1 mb-0" href="/home">PRISM</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="oi oi-menu"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="navbar-item"><a class="nav-link" href="/home"><span class="glyphicon glyphicon-home mr-1"></span>Home</a></li>
                    <li class="navbar-item"><a class="nav-link" href="/getdata"><span class="glyphicon glyphicon-hdd mr-1"></span>Get
                            Data</a></li>
                    <li class="navbar-item"><a class="nav-link" href="/system"><span class="oi oi-terminal mr-1"></span>System</a></li>
                    <li class="navbar-item"><a class="nav-link" href="#"><span class="glyphicon glyphicon-info-sign mr-1"></span>About</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container"><br>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Vinicius - 00091234</h3>
            </div>
            <div class="card-body">
                <div class="card float-right col-4 mb-3">
                    <div class="card-header">
                        <h5 class="card-title">Profile picture</h5>
                    </div>
                    <div class="card-body">
                        <div class="card-img">
                            <img src="/img/bloggif_5c164b6073651.png" class="img-fluid col" alt="as">
                        </div><br>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-warning">
                            <span class="glyphicon glyphicon-pencil mr-1"></span>Edit photo
                        </button>
                    </div>
                </div>
                <form>
                    <div class="card float-left col-7 mb-3">
                        <div class="card-header">
                            <h5 class="card-title">Personal data</h5>
                        </div>
                        <div class="card-body">
                            <% personalData.forEach(function(pData) { %>
                                <div class="form-group row">
                                    <label class="font-weight-bold mr-2" for="<%=pData.name %>"><%=pData.name %>:</label>
                                    <input class="form-control col" id="<%=pData.name %>" name="<%=pData.name %>" value="<%=pData.value %>"><br>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                    <div class="card float-left col-7 mb-3">
                        <div class="card-header">
                            <h5 class="card-title">Physical characteristics</h5>
                        </div>
                        <div class="card-body">
                            <% physicalCharacteristics.forEach(function(characteristics) { %>
                                <div class="form-group row">
                                    <label class="font-weight-bold mr-2" for="<%= characteristics.name %>:"><%= characteristics.name %>:</label>
                                    <input class="form-control col" name="<%=characteristics.name %>" id="<%=characteristics.name %> " value="<%= characteristics.value %>">
                                </div>
                            <% }); %>
                        </div>
                    </div>

                    <div class="card float-right col-4">
                        <div class="card-header">
                            <h5 class="card-title">JSON Files</h5>
                        </div>
                        <div class="card-body">
                            <div>
                                <label class="btn btn-warning btn-file mb-1">
                                    <span class="glyphicon glyphicon-upload"></span>
                                    Social Networks
                                    <input type="file" name="socialNetworks">
                                </label><br>
                                <button class="btn btn-warning mb-1">
                                    <span class="glyphicon glyphicon-upload"></span>
                                    Processes
                                    <input type="file" name="processes">
                                </button><br>
                                <button class="btn btn-warning mb-1">
                                    <span class="glyphicon glyphicon-upload"></span>
                                    Sites Quotes
                                    <input type="file" name="sitesQuotes">
                                </button><br>
                                <button class="btn btn-warning mb-1">
                                    <span class="glyphicon glyphicon-upload"></span>
                                    Unclassified data
                                    <input type="file" name="unclassifiedData">
                                </button>
                            </div>
                        </div>
                    </div>
            </div>
            </form>
        </div>
    </div>
    </div>
    </div>

</body>