<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/open-iconic/font/css/open-iconic-bootstrap.css">
    <link rel="stylesheet" href="/css/glyphicon.css">
    <link rel="shortcut icon" type="image/png" href="/images/icons/favicon.ico"/>
    <title>PRISM - Get Data</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand h1 mb-0" href="/home">PRISM</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="oi oi-menu"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="navbar-item"><a class="nav-link" href="/home"><span class="glyphicon glyphicon-home mr-1"></span>Home</a></li>
                    <li class="navbar-item"><a class="nav-link" href="/getdata"><span class="glyphicon glyphicon-hdd mr-1"></span>Get Data</a></li>
                    <li class="navbar-item"><a class="nav-link" href="/system"><span class="oi oi-terminal mr-1"></span>System</a></li>
                    <li class="navbar-item"><a class="nav-link" href="#"><span class="glyphicon glyphicon-info-sign mr-1"></span>About</a></li>
                </ul>
            </div>
        </div>
    </nav><br>
    <div class="container">

        <ul class="nav nav-tabs" id="nav-Tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="nav-tab-crawler" data-toggle="tab" href="#nav-crawler" role="tab" aria-controls="nav-crawler" aria-selected="true"><span class="oi oi-globe mr-1"></span>Crawler Google</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="nav-tab-crawler-bing" data-toggle="tab" href="#nav-crawler-bing" role="tab" aria-controls="nav-crawler-bing" aria-selected="false"><span class="oi oi-globe mr-1"></span>Crawler Bing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="nav-tab-escavador" data-toggle="tab" href="#nav-escavador" role="tab" aria-controls="nav-escavador" aria-selected="false"><span class="oi oi-shield mr-1"></span>Escavador</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-tab-social-network" data-toggle="tab" href="#nav-social-network" role="tab" aria-controls="nav-social-network" aria-selected="true"><span class="oi oi-people mr-1"></span>Social Networks</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="nav-crawler" role="tabpanel" aria-labelledby="nav-tab-crawler">

            </div>
            <div class="tab-pane fade" id="nav-crawler-bing" role="tabpanel" aria-labelledby="nav-tab-crawler-bing">...</div>
            <div class="tab-pane fade" id="nav-escavador" role="tabpanel" aria-labelledby="nav-tab-escavador">...</div>
            <div class="tab-pane fade" id="nav-social-network" role="tabpanel" aria-labelledby="nav-tab-social-network">...</div>
        </div>
    </div>
</body>