<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/open-iconic/font/css/open-iconic-bootstrap.css">
    <link rel="stylesheet" href="/css/glyphicon.css">
    <link rel="shortcut icon" type="image/png" href="/images/icons/favicon.ico" />
    <title>PRISM - Home</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="/js/input.js"></script>
    <script src="/js/buttons.js"></script>
    <style>
        .card-img {
            width: 200px;
            height: 200px;
        }
        .card-img img{
        width: 100%;
        height: 100%;
        }
        input[type=file]{
            display: none;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand h1 mb-0" href="/home">PRISM</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="oi oi-menu"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="navbar-item"><a class="nav-link" href="/home"><span class="glyphicon glyphicon-home mr-1"></span>Home</a></li>
                    <li class="navbar-item"><a class="nav-link" href="/getdata"><span class="glyphicon glyphicon-hdd mr-1"></span>Get
                            Data</a></li>
                    <li class="navbar-item"><a class="nav-link" href="/system"><span class="oi oi-terminal mr-1"></span>System</a></li>
                    <li class="navbar-item"><a class="nav-link" href="/about"><span class="glyphicon glyphicon-info-sign mr-1"></span>About</a></li>
                </ul>
            </div>

            <div class="form-inline">
                <input autocomplete="off" class="form-control mr-1" type="search" placeholder="Search Card..." onkeyup="searchCard()"
                    id="searchCard">
            </div>
        </div>
    </nav><br>

    <div class="container">

        <button type="button" class="btn btn-success mb-3" data-toggle="modal" data-target="#exampleModalCenter"><span
                class="glyphicon glyphicon-plus-sign mr-1" aria-hidden="true"></span>New card</button>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Create card</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card float-right mb-3">
                            <div class="card-header">
                                <h5 class="card-title">Profile picture</h5>
                            </div>
                            <div class="card-body">
                                <div class="card-img">
                                    <img src="/img/bloggif_5c164b6073651.png" alt="">
                                </div>
                            </div>
                            <div class="card-footer">
                                <label class="btn btn-success">
                                    <span class="glyphicon glyphicon-upload mr-1"></span>
                                    Upload profile picture
                                    <input type="file" name="profilePhoto">
                                </label>
                            </div>
                        </div>

                        <div class="card float-left col-8 mb-3">
                            <div class="card-header">
                                <h5 class="card-title">Personal data</h5>
                            </div>
                            <div class="card-body">
                                <% personalData.forEach(function(pData) { %>
                                <div class="form-group row">
                                    <label class="font-weight-bold mr-2" for="<%=pData.name %>"><%=pData.name %>:</label>
                                    <input class="form-control col" id="<%=pData.name %>" name="<%=pData.name %>"><br>
                                </div>
                                <% }); %>
                            </div>
                        </div>
                        <div class="card float-left col-8 mb-3">
                            <div class="card-header">
                                <h5 class="card-title">Physical characteristics</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class="font-weight-bold mr-2" for="height">Height:</label>
                                    <input type="text" class="form-control col" name="height" id="height">
                                </div>
                                <div class="form-group row">
                                    <label class="font-weight-bold mr-2" for="eyeHair">Hair color:</label>
                                    <input type="text" class="form-control col" name="eyeHair" id="eyeHair">
                                </div>
                                <div class="form-group row">
                                    <label class="font-weight-bold mr-2" for="eyeColor">Eye color:</label>
                                    <input type="text" class="form-control col" name="eyeColor" id="eyeColor">
                                </div>
                            </div>
                        </div>
                        <div class="card float-right">
                            <div class="card-header">
                                <h5 class="card-title">JSON Files</h5>
                            </div>
                            <div class="card-body">
                                <div>
                                    <label class="btn btn-success btn-file mb-1">
                                        <span class="glyphicon glyphicon-upload"></span>
                                        Social Networks
                                        <input type="file" name="socialNetworks">
                                    </label><br>
                                    <button class="btn btn-success mb-1">
                                        <span class="glyphicon glyphicon-upload"></span>
                                        Processes
                                        <input type="file" name="processes">
                                    </button><br>
                                    <button class="btn btn-success mb-1">
                                        <span class="glyphicon glyphicon-upload"></span>
                                        Sites Quotes
                                        <input type="file" name="sitesQuotes">
                                    </button><br>
                                    <button class="btn btn-success mb-1">
                                        <span class="glyphicon glyphicon-upload"></span>
                                        Unclassified data
                                        <input type="file" name="unclassifiedData">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Discard Card</button>
                        <button type="button" class="btn btn-success">Save Card</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table id="tableCards" class="table table-hover table-sm table-bordered">
                <thead>
                    <tr>
                        <th onclick="sortTable(0)">Card Name</th>
                        <th onclick="sortTable(1)">ID Card</th>
                        <th onclick="sortTable(2)">Size</th>
                        <th onclick="sortTable(3)">Creation Date</th>
                        <th onclick="sortTable(4)">Data Modified</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Cyrax</td>
                        <td id="idCard">000123941</td>
                        <td>1MB</td>
                        <td>13:23 16/12/2018</td>
                        <td>Not still modified</td>
                        <td>
                            <center>
                                <button type="button" class="btn btn-info">
                                    <span class="glyphicon glyphicon-eye-open mr-1" aria-hidden="true"></span> View
                                </button>
                                <button class="btn btn-warning">
                                    <span class="glyphicon glyphicon-pencil mr-1" aria-hidden="true"></span> Edit
                                </button>
                                <button class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash mr-1" aria-hidden="true"></span> Delete
                                </button>
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td>Luth1er</td>
                        <td>000123930</td>
                        <td>1MB</td>
                        <td>13:23 16/12/2018</td>
                        <td>Not still modified</td>
                        <td>
                            <center>
                                <button type="button" class="btn btn-info">
                                    <span class="glyphicon glyphicon-eye-open mr-1" aria-hidden="true"></span> View
                                </button>
                                <button class="btn btn-warning">
                                    <span class="glyphicon glyphicon-pencil mr-1" aria-hidden="true"></span> Edit
                                </button>
                                <button class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash mr-1" aria-hidden="true"></span> Delete
                                </button>
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td>Sr Biggs</td>
                        <td id="idCard">000223940</td>
                        <td>1MB</td>
                        <td>13:23 16/12/2018</td>
                        <td>Not still modified</td>
                        <td>
                            <center>
                                <button type="button" class="btn btn-info">
                                    <span class="glyphicon glyphicon-eye-open mr-1" aria-hidden="true"></span> View
                                </button>
                                <button class="btn btn-warning">
                                    <span class="glyphicon glyphicon-pencil mr-1" aria-hidden="true"></span> Edit
                                </button>
                                <button class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash mr-1" aria-hidden="true"></span> Delete
                                </button>
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td>X_Caminhante</td>
                        <td id="idCard">001123940</td>
                        <td>1MB</td>
                        <td>13:23 16/12/2018</td>
                        <td>Not still modified</td>
                        <td>
                            <center>
                                <button type="button" class="btn btn-info">
                                    <span class="glyphicon glyphicon-eye-open mr-1" aria-hidden="true"></span> View
                                </button>
                                <button class="btn btn-warning">
                                    <span class="glyphicon glyphicon-pencil mr-1" aria-hidden="true"></span> Edit
                                </button>
                                <button class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash mr-1" aria-hidden="true"></span> Delete
                                </button>
                            </center>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



</body>

</html>