<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/open-iconic/font/css/open-iconic-bootstrap.css">
    <link rel="stylesheet" href="/css/glyphicon.css">
    <link rel="shortcut icon" type="image/png" href="/images/icons/favicon.ico"/>
    <title>PRISM - System Analyse</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand h1 mb-0" href="/home">PRISM</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="oi oi-menu"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="navbar-item"><a class="nav-link" href="/home"><span class="glyphicon glyphicon-home mr-1"></span>Home</a></li>
                    <li class="navbar-item"><a class="nav-link" href="/getdata"><span class="glyphicon glyphicon-hdd mr-1"></span>Get Data</a></li>
                    <li class="navbar-item"><a class="nav-link" href="/system"><span class="oi oi-terminal mr-1"></span>System</a></li>
                    <li class="navbar-item"><a class="nav-link" href="#"><span class="glyphicon glyphicon-info-sign mr-1"></span>About</a></li>
                </ul>
            </div>
        </div>
    </nav><br>
</body>